import React, { ReactNode } from {quotes}react{quotes}
import { Wrapper } from './styles'

type Props = {
  children: ReactNode
}

const {componentName} = (props: Props) => (
  <Wrapper>
    {componentName} context
  </Wrapper>
)

{componentName}.defaultProps = {
  // bla: 'test',
}

export default {componentName}
